._vvd_graphic
{
    fill: hsl(198, 36%, 63%);
}

._vvd_highlighted
{
    color: hsl(198, 36%, 63%);
    border-color: hsl(198, 36%, 63%);
}

._vvd_background
{
    background-color: hsl(198, 36%, 63%);
}

.ct-series-q .ct-line, .ct-series-q .ct-point
{
    stroke: hsl(198, 36%, 63%);
}





._pvda_graphic
{
    fill: hsl(0, 36%, 63%);
}

._pvda_highlighted
{
    color: hsl(0, 36%, 63%);
    border-color: hsl(0, 36%, 63%);
}

._pvda_background
{
    background-color: hsl(0, 36%, 63%);
}

.ct-series-k .ct-line, .ct-series-k .ct-point
{
    stroke: hsl(0, 36%, 63%);
}





._cda_graphic
{
    fill: hsl(157, 36%, 63%);
}

._cda_highlighted
{
    color: hsl(157, 36%, 63%);
    border-color: hsl(157, 36%, 63%);
}

._cda_background
{
    background-color: hsl(157, 36%, 63%);
}

.ct-series-c .ct-line, .ct-series-c .ct-point
{
    stroke: hsl(157, 36%, 63%);
}






._sp_graphic
{
    fill: hsl(337, 36%, 63%);
}

._sp_highlighted
{
    color: hsl(337, 36%, 63%);
    border-color: hsl(337, 36%, 63%);
}

._sp_background
{
    background-color: hsl(337, 36%, 63%);
}

.ct-series-o .ct-line, .ct-series-o .ct-point
{
    stroke: hsl(337, 36%, 63%);
}







._gl_graphic
{
    fill : hsl(116, 36%, 63%);
}

._gl_highlighted
{
    color: hsl(116, 36%, 63%);
    border-color: hsl(116, 36%, 63%);
}

._gl_background
{
    background-color: hsl(116, 36%, 63%);
}

.ct-series-i .ct-line, .ct-series-i .ct-point
{
    stroke: hsl(116, 36%, 63%);
}







._pvv_graphic
{
    fill: hsl(226, 36%, 63%);
}

._pvv_highlighted
{
    color: hsl(226, 36%, 63%);
    border-color: hsl(226, 36%, 63%);
}

._pvv_background
{
    background-color: hsl(226, 36%, 63%);
}

.ct-series-m .ct-line, .ct-series-m .ct-point
{
    stroke: hsl(226, 36%, 63%);
}






._d66_graphic
{
    fill : hsl(74, 36%, 63%);
}

._d66_highlighted
{
    color: hsl(74, 36%, 63%);
    border-color: hsl(74, 36%, 63%);
}

._d66_background
{
    background-color: hsl(74, 36%, 63%);
}

.ct-series-e .ct-line, .ct-series-e .ct-point
{
    stroke: hsl(74, 36%, 63%);
}





._pvdd_graphic
{
    fill : hsl(33, 36%, 63%);
}

._pvdd_highlighted
{
    color: hsl(33,36%,63%);
    border-color: hsl(33,36%,63%);
}

._pvdd_background
{
    background-color: hsl(33, 36%, 63%);
}

.ct-series-l .ct-line, .ct-series-l .ct-point
{
    stroke: hsl(33, 36%, 63%);
}






._50plus_graphic
{
    fill: hsl(287, 36%, 63%);
}

._50plus_highlighted
{
    color: hsl(287,36%,63%);
    border-color: hsl(287,36%,63%);
}

._50plus_background
{
    background-color: hsl(287, 36%, 63%);
}

.ct-series-a .ct-line, .ct-series-a .ct-point
{
    stroke: hsl(287, 36%, 63%);
}





._sgp_graphic
{
    fill: hsl(182, 36%, 63%);
}

._sgp_highlighted
{
    color: hsl(182,36%,63%);
    border-color: hsl(182,36%,63%);
}

._sgp_background
{
    background-color: hsl(182, 36%, 63%);
}

.ct-series-n .ct-line, .ct-series-n .ct-point
{
    stroke: hsl(182, 36%, 63%);
}






._cu_graphic
{
    fill: hsl(44, 36%, 63%);
}

._cu_highlighted
{
    color: hsl(44,36%,63%);
    border-color: hsl(44,36%,63%);
}

._cu_background
{
    background-color: hsl(44, 36%, 63%);
}

.ct-series-d .ct-line, .ct-series-d .ct-point
{
    stroke: hsl(44, 36%, 63%);
}




._denk_graphic
{
	fill: hsl(258, 36%, 63%);
}

._denk_highlighted
{
    color: hsl(258,36%,63%);
    border-color: hsl(258,36%,63%);
}

._denk_background
{
	background-color: hsl(258, 36%, 63%);
}

.ct-series-f .ct-line, .ct-series-f .ct-point
{
    stroke: hsl(258, 36%, 63%);
}




._vnl_graphic
{
	fill: hsl(8, 36%, 63%);
}

._vnl_highlighted
{
    color: hsl(8,36%,63%);
    border-color: hsl(8,36%,63%);
}

._vnl_background
{
	background-color: hsl(8, 36%, 63%);
}

.ct-series-p .ct-line, .ct-series-p .ct-point
{
    stroke: hsl(258, 36%, 63%);
}





._ppnl_graphic
{
    fill: hsl(198, 36%, 63%);
}

._ppnl_highlighted
{
    color: hsl(198, 36%, 63%);
    border-color: hsl(198, 36%, 63%);
}

._ppnl_background
{
    background-color: hsl(198, 36%, 63%);
}

.ct-series-j .ct-line, .ct-series-j .ct-point
{
    stroke: hsl(198, 36%, 63%);
}






._geenpeil_graphic
{
    fill : hsl(70, 36%, 63%);
}

._geenpeil_highlighted
{
    color: hsl(70, 36%, 63%);
    border-color: hsl(70, 36%, 63%);
}

._geenpeil_background
{
    background-color: hsl(70, 36%, 63%);
}

.ct-series-h .ct-line, .ct-series-h .ct-point
{
    stroke: hsl(70, 36%, 63%);
}




._artikel1_graphic
{
    fill: hsl(221, 36%, 63%);
}

._artikel1_highlighted
{
    color: hsl(221, 36%, 63%);
    border-color: hsl(221, 36%, 63%);
}

._artikel1_background
{
    background-color: hsl(221, 36%, 63%);
}

.ct-series-b .ct-line, .ct-series-b .ct-point
{
    stroke: hsl(221, 36%, 63%);
}




._fvd_graphic
{
    fill : hsl(111, 36%, 63%);
}

._fvd_highlighted
{
    color: hsl(111, 36%, 63%);
    border-color: hsl(111, 36%, 63%);
}

._fvd_background
{
    background-color: hsl(111, 36%, 63%);
}

.ct-series-g .ct-line, .ct-series-g .ct-point
{
    stroke: hsl(111, 36%, 63%);
}




.highlighted_cell
{
    border-radius: 7px;
    border-color: hsla(0, 0%, 0%, 0.5);
}

.highlighted_legend_item
{
    background-color: hsla(0,0%,0%,0);
    border-style: dashed;
    border-width: 2px;
}
