body
{
    background-color: hsl(40, 13%, 95%);
    font-family: 'Muli';
    color: hsla(0, 0%, 0%, 0.5);
}

h1
{
    width: 631px;
    height: 82px;
    margin: auto;
    padding: 17px;
    padding-top: 19px;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    font-family: 'Oswald';
    letter-spacing: 3px;
    background-image: url('../svg/logo_background.svg');
    color: hsl(40, 13%, 95%);
    font-size: 27px;
}

h2
{
    text-align: center;
    font-weight: 100;
}

h3
{
    text-align: center;
    font-size: 30px;
    color: hsl(0, 26%, 60%);
}

p
{
    padding: 10px
}

a, a:hover, a:visited
{
    color: hsl(0, 26%, 60%);
}

.outer_table_2x3
{
    border-spacing: 15px;
}

.item_row
{
    width: 1200px;
    height: 600px;
    margin: auto;
}

.item
{
    width: 565px;
    float: left;
}

.legend_item
{
    padding: 10px;
}

.party_name
{
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 11px;
    color: white;
    font-size: 15px;
    text-align: center;
}

.chair
{
    border-width: 2;
    border-color: hsla(0,0%,0%,0);
    border-style: dashed
}

.whitespace
{
    height: 80px;
}

.ct-line
{
    stroke-dasharray: 20px 4px;
    animation: dashoffset 3s linear infinite;
}

@keyframes dashoffset
{
    from {stroke-dashoffset: 0px;}
    to {stroke-dashoffset: -24px;}
}

#chair_visualization
{
    width: 785px;
    margin: auto;
}

#chairs
{
    display: inline-block;
}

#legend
{
    display: inline-block;
    vertical-align: top;
}

#legend_table
{
    border-spacing: 15px;
}

#voxpopuli_logo
{
    float: right;
	margin: 10px;
    margin-top: 0px;
    width: 145px;
}

#elections2012
{
    #float: left;
	margin: 10px;
    margin-top: 10px;
    width: 600px;
}

#explanation_and_graphs
{
    width: 870px;
    margin: auto;
}

.chartist-tooltip:before
{
    border-top-color: hsla(40,12%,90%,1);
}

.chartist-tooltip
{
    background: hsla(40,12%,90%,1);
    font-family: 'Muli';
}

.ct-golden-section
{
    width:800px;
    display: inline-block;
}

.graph_legend
{
    display: inline-block;
    vertical-align: top;
}

.graph_legend_item
{
    color: white;
    font-size: 14px;
    border-radius: 4px;
}

.credits
{
    font-size: 12px;
}

/* Mobile only */

@media only screen and (max-width: 500px)
{
    h2
    {
        font-size: 10vw;
        width: 200vw;
    }

    h3
    {
        font-size: 14vw;
    }

    p, ul
    {
        font-size: 10vw;
    }

    .party_name
    {
        font-size: 35px;
    }

    .legend_item
    {
        font-size: 8vw;
    }

    #chairs
    {
        display: none;
    }

    #legend
    {
        margin-left: 35vw;
    }

    #voxpopuli_logo
    {
        width: 35%
    }

    #elections2012
    {
        width: 35%
    }
}
