body
{
    background-color: hsl(40, 13%, 95%);
    font-family: 'Muli';
    color: hsla(0, 0%, 0%, 0.5);
}

h1
{
    width: 631px;
    height: 84px;
    margin: auto;
    padding: 17px;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;

    font-family: 'Oswald';
    letter-spacing: 5px;
    background-image: url('svg/logo_background.svg');
    color: hsl(40, 13%, 95%);
}

h2
{
    text-align: center;
    font-weight: 100;
}

h3
{
    font-size: 30px;
    font-weight: 100;
}

p
{
    padding: 10px
}

.item_row
{
    width: 1200px;
    margin: auto;
}

.item
{
    width: 565px;
    float: left;
}

.vvd
{
    fill: hsl(198, 36%, 63%);
}

.pvda
{
    fill: hsl(0, 36%, 63%);
}

.cda
{
    fill: hsl(157, 36%, 63%);
}

.sp
{
    fill: hsl(337, 36%, 63%);
}

.gl
{
    fill : hsl(116, 36%, 63%);
}

.pvv
{
    fill: hsl(226, 36%, 63%);
}

.d66
{
    fill : hsl(74, 36%, 63%);
}

.pvdd
{
    fill : hsl(33, 36%, 63%);
}

.vijftigplus
{
    fill: hsl(287, 36%, 63%);
}

.sgp
{
    fill: hsl(182, 36%, 63%);
}

.cu
{
    fill: hsl(44, 36%, 63%);
}