<html>
<head>
    <link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <script src="js/chartist-plugin-tooltip.min.js"></script>

    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <link rel="stylesheet" href="css/style.css" media="all"/>
    <link rel="stylesheet" href="css/party_colors.css" media="all"/>
    <link rel="stylesheet" href="css/chartist-plugin-tooltip.css" media="all"/>

 	<script type="text/javascript">

 	$(document).ready(function()
 	{
	    // Replace all SVG images with inline SVG
	    jQuery('img.dynamic_svg').each(function()
	    {
	        var $img = jQuery(this);
	        var imgID = $img.attr('id');
	        var imgClass = $img.attr('class');
	        var imgURL = $img.attr('src');

	        jQuery.get(imgURL, function(data)
	        {
	            // Get the SVG tag, ignore the rest
	            var $svg = jQuery(data).find('svg');

	            // Add replaced image's ID to the new SVG
	            if(typeof imgID !== 'undefined') {
	                $svg = $svg.attr('id', imgID);
	            }
	            // Add replaced image's classes to the new SVG
	            if(typeof imgClass !== 'undefined') {
	                $svg = $svg.attr('class', imgClass+' replaced-svg');
	            }

	            // Remove any invalid XML tags as per http://validator.w3.org
	            $svg = $svg.removeAttr('xmlns:a');

	            // Replace image with new SVG
	            $img.replaceWith($svg);

			    //Recolor first path
			    $('path.seat').css("fill", 'inherit');

	        }, 'xml');

	    });

        //Generate the line graph
        var data =
        {
          labels: ['2 maanden','','','','1 maand','','','stemmen!'],
          series: [

          {% for party_name,series_of_percentages in series_of_percentages_per_party %}
            [
              {% for percentage in series_of_percentages %}
                {meta: '{{party_name}}' , value: {{percentage}} },
              {% endfor %}
            ],
          {% endfor %}

          ]
        };

        var options =
        {
          width: 800,
          height: 400,
	  plugins: [Chartist.plugins.tooltip()]
        };
        var chart = new Chartist.Line('.ten-days-graph', data, options);
        var chart = new Chartist.Line('.two-months-graph', data, options);

        //hover effect
        $('.chair').mouseenter(function()
        {
            $('._'+$(this).attr('party')+'_graphic').addClass('highlighted_cell');
            $('._'+$(this).attr('party')+'_background').addClass('highlighted_legend_item');
            $('._'+$(this).attr('party')+'_background').addClass('_'+$(this).attr('party')+'_highlighted');
        });

        $('.chair').mouseleave(function()
        {
            $('._'+$(this).attr('party')+'_graphic').removeClass('highlighted_cell');
            $('._'+$(this).attr('party')+'_background').removeClass('highlighted_legend_item');
            $('._'+$(this).attr('party')+'_background').removeClass('_'+$(this).attr('party')+'_highlighted');
        });

        $('.party_name').mouseenter(function()
        {
            $('._'+$(this).attr('party')+'_graphic').addClass('highlighted_cell');
            $(this).addClass('highlighted_legend_item');
            $(this).addClass('_'+$(this).attr('party')+'_highlighted');
        });

        $('.party_name').mouseleave(function()
        {
            $('._'+$(this).attr('party')+'_graphic').removeClass('highlighted_cell');
            $(this).removeClass('highlighted_legend_item');
            $(this).removeClass('_'+$(this).attr('party')+'_highlighted');
        });

	});
	</script>

    <title>Stemming 2017</title>
</head>
<body>

<h1>Wat is de stemming in Nederland?</h1>

<h2>Onze beste gok op basis van taalanalyse op Twitter</h2>

<div id="chair_visualization">
    <div id="chairs">
        <table class="outer_table_2x3"><tr><td>
            <table class="inner_table_6x6"><tr>
                {% for chair_index, party_name in seats %}

                <td class="chair _{{party_name}}_graphic" party="{{party_name}}"><img class="dynamic_svg" src="svg/chair.svg"></td>

                {% if (chair_index+1) %25 == 0 %}
                    </tr></table></td>

                    {% if (chair_index+1) %50 == 0 %}
                        </tr><tr>
                    {% endif %}

                    <td><table><tr>
                {% elif (chair_index+1) %5 == 0 %}
                    </tr><tr>
                {% endif %}

                {% endfor %}
            </tr></table>
        </td></tr></table>
    </div>
    <div id="legend">
        <table id="legend_table">
            {% for party_name, number_of_chairs in seats_per_party %}
            	<tr><td class="legend_item">{{number_of_chairs}} x </td><td class="party_name _{{party_name}}_background" party="{{party_name}}">{{party_name}}</td></tr>
            {% endfor %}
        </table>
    </div>
</div>

<div class="item_row">
    <div class="item">
        <h3>Over dit onderzoek</h3>
        <p><img id="twitter_logo" src="svg/twitter.svg">Onderzoekers van het Centre for Language and Speech Technology onderzoeken in hoeverre er een verband is te vinden tussen hoe vaak een politieke partij genoemd wordt op Twitter en hoe deze partij het doet in de peilingen en bij de verkiezingen zelf. Bij de parlementsverkiezingen van 2012 bleek er een sterk verband tussen deze twee te zijn (zie ons artikel Relating Political Party Mentions on Twitter with Polls and Election Results). Op deze pagina zijn een aantal grafieken te vinden met hoe vaak de naam van een politiek partij wordt genoemd in een tweet. De metingen beginnen op woensdag 18 februari en worden per uur bijgewerkt. De meest recente meting is altijd van drie uur geleden. De metingen worden gedaan op de tweets uit Twiqs, een dienst waarin ongeveer 40% van de Nederlandse tweets doorzoekbaar zijn.</p>
    </div>
    <div class="item">
        <h3>% vermeldingen</h3>
        <div class="ct-chart ct-golden-section percentage_mentions_graph">
        </div>
    </div>
</div>

<div><img src="http://applejack.science.ru.nl/lamabadge.php/stemming2017" alt="badge" /></div>

</body>
</html>
