<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <script src="js/chartist-plugin-tooltip.min.js"></script>

    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <link rel="stylesheet" href="css/chartist-plugin-tooltip.css" media="all"/>
    <link rel="stylesheet" href="css/style.css" media="all"/>
    <link rel="stylesheet" href="css/party_colors.css" media="all"/>

 	<script type="text/javascript">

 	$(document).ready(function()
 	{
	    // Replace all SVG images with inline SVG
	    jQuery('img.dynamic_svg').each(function()
	    {
	        var $img = jQuery(this);
	        var imgID = $img.attr('id');
	        var imgClass = $img.attr('class');
	        var imgURL = $img.attr('src');

	        jQuery.get(imgURL, function(data)
	        {
	            // Get the SVG tag, ignore the rest
	            var $svg = jQuery(data).find('svg');

	            // Add replaced image's ID to the new SVG
	            if(typeof imgID !== 'undefined') {
	                $svg = $svg.attr('id', imgID);
	            }
	            // Add replaced image's classes to the new SVG
	            if(typeof imgClass !== 'undefined') {
	                $svg = $svg.attr('class', imgClass+' replaced-svg');
	            }

	            // Remove any invalid XML tags as per http://validator.w3.org
	            $svg = $svg.removeAttr('xmlns:a');

	            // Replace image with new SVG
	            $img.replaceWith($svg);

			    //Recolor first path
			    $('path.seat').css("fill", 'inherit');

	        }, 'xml');

	    });

        //Generate the line graph
        var options =
        {
          width: 800,
          height: 400,
	  plugins: [Chartist.plugins.tooltip()]
        };

        var tenDaysData =
        {
          labels: [ {% for date_name in last_ten_date_names %} '{{ date_name }}', {% endfor %}],
          series: [

          {% for party_name,series_of_percentages in series_of_last_ten_percentages_per_party %}
            [
              {% for percentage in series_of_percentages %}
                {meta: '{{last_ten_date_names[loop.index0] }} - {{party_name}}' , value: {{percentage}} },
              {% endfor %}
            ],
          {% endfor %}

          ]
        };

        var chart = new Chartist.Line('.ten-days-graph', tenDaysData, options);

        var twoMonthsData =
        {
          labels: [
            {% for date_name in even_date_names %}

                {% if date_name == None %}
                    '',
                {% else %}
                    '{{ date_name }}',
                {% endif %}

            {% endfor %}],
          series: [

          {% for party_name,series_of_percentages in series_of_percentages_per_party %}
            [
              {% for percentage in series_of_percentages %}
                {meta: '{{date_names[loop.index0] }} - {{party_name}}' , value: {% if percentage == None %}null{% else %}{{percentage}}{% endif %} },
              {% endfor %}
            ],
          {% endfor %}

          ]
        };

        var chart = new Chartist.Line('.two-months-graph', twoMonthsData, options);

        //hover effect
        $('.chair').mouseenter(function()
        {
            $('._'+$(this).attr('party')+'_graphic').addClass('highlighted_cell');
            $('._'+$(this).attr('party')+'_background').addClass('highlighted_legend_item');
            $('._'+$(this).attr('party')+'_background').addClass('_'+$(this).attr('party')+'_highlighted');
        });

        $('.chair').mouseleave(function()
        {
            $('._'+$(this).attr('party')+'_graphic').removeClass('highlighted_cell');
            $('._'+$(this).attr('party')+'_background').removeClass('highlighted_legend_item');
            $('._'+$(this).attr('party')+'_background').removeClass('_'+$(this).attr('party')+'_highlighted');
        });

        $('.party_name').mouseenter(function()
        {
            $('._'+$(this).attr('party')+'_graphic').addClass('highlighted_cell');
            $(this).addClass('highlighted_legend_item');
            $(this).addClass('_'+$(this).attr('party')+'_highlighted');
        });

        $('.party_name').mouseleave(function()
        {
            $('._'+$(this).attr('party')+'_graphic').removeClass('highlighted_cell');
            $(this).removeClass('highlighted_legend_item');
            $(this).removeClass('_'+$(this).attr('party')+'_highlighted');
        });

	});
	</script>

    <title>Stemming 2017</title>
</head>
<body>

<h1>Wat is de stemming in Nederland?</h1>

<h2>Het aantal zetels in de Tweede Kamer, op basis van tellingen op Twitter</h2>

<div id="chair_visualization">
    <div id="chairs">
        <table class="outer_table_2x3"><tr><td>
            <table class="inner_table_6x6"><tr>
                {% for chair_index, party_name in seats %}

                <td class="chair _{{party_name}}_graphic" party="{{party_name}}"><img class="dynamic_svg" src="svg/chair.svg"></td>

                {% if (chair_index+1) %25 == 0 %}
                    </tr></table></td>

                    {% if (chair_index+1) %50 == 0 %}
                        </tr><tr>
                    {% endif %}

                    <td><table><tr>
                {% elif (chair_index+1) %5 == 0 %}
                    </tr><tr>
                {% endif %}

                {% endfor %}
            </tr></table>
        </td></tr></table>
    </div>
    <div id="legend">
        <table id="legend_table">
            {% for party_name, number_of_chairs in seats_per_party %}
            	<tr>

                    {% if loop.index < 10 %}
                        <td class="legend_item">{{number_of_chairs}} x </td><td class="party_name _{{party_name}}_background" party="{{party_name}}">{{party_name}}</td>
                    {% endif %}

                    {% if loop.index < 9 %}
                        <td class="legend_item">{{seats_per_party[loop.index+8][1]}} x </td><td class="party_name _{{seats_per_party[loop.index+8][0]}}_background" party="{{seats_per_party[loop.index+8][0]}}">{{seats_per_party[loop.index+8][0]}}</td>
                    {% endif %}

                </tr>
            {% endfor %}
        </table>
    </div>
</div>

<div id="explanation_and_graphs">
    <h3>Over deze website</h3>
    <p><a target="new" href="http://ericsanders.ruhosting.nl/personal/?page_id=54"><img id="voxpopuli_logo" src="voxpopulilogo2.png"></a>Op 15 maart gaat Nederland stemmen. Wij houden de stemming op Twitter bij. Hierboven staat de zetelverdeling in de tweede kamer gebasseerd op hoe vaak politieke partijen de laatste tien dagen op Twitter zijn genoemd. Bij de parlementsverkiezingen van 2012 bleek er een sterk verband te zijn tussen hoe vaak een politieke partij genoemd wordt op Twitter en hoe deze partij het doet in de peilingen (zie ons artikel <a href="http://ceur-ws.org/Vol-986/paper_9.pdf" target=_new>Relating Political Party Mentions on Twitter with Polls and Election Results</a>).</p>
    <p>Hieronder staan grafieken met het verloop van het aantal partijvermeldingen op Twitter in de loop van de tijd. De eerste grafiek is van de laatste tien dagen, de tweede van de laatste twee maanden. Deze pagina wordt elk uur bijgewerkt met de nieuwste gegevens. De metingen worden gedaan op de tweets uit Twiqs, een dienst waarin ongeveer 40% van de Nederlandse tweets doorzoekbaar zijn. We bedanken SURFsara voor het beschikbaar stellen van de tweets via <a href="https://twinl.surfsara.nl" target=_new>https://twinl.surfsara.nl</a>.</p>
    <p>Voor vragen kunt u terecht bij Eric Sanders, <a href="mailto:e.sanders@let.ru.nl">e.sanders@let.ru.nl</a>.</p>
    </p>

    <div class="whitespace"></div>

    <h3>% vermeldingen laatste 10 dagen</h3>
    <div class="ct-chart ct-golden-section ten-days-graph">
    </div>

    <div class="graph_legend"><table>
        {% for party_name in party_names_order_by_yesterday_mentions %}
            <tr><td class="graph_legend_item _{{ party_name }}_background">{{ party_name }}</td></tr>
        {% endfor %}
    </table></div>

    <h3>% vermeldingen laatste 2 maanden</h3>
    <div class="ct-chart ct-golden-section two-months-graph">
    </div>

    <div class="graph_legend"><table>
        {% for party_name in party_names_order_by_yesterday_mentions %}
            <tr><td class="graph_legend_item _{{ party_name }}_background">{{ party_name }}</td></tr>
        {% endfor %}
    </table></div>


	<h3>Actueel</h3>
    <p>{{ peak_explanation }}</p>

    <p class="credits">Onderzoek van Eric Sanders, ontwerp door Wessel Stoop, <a target="new" href="https://github.com/Woseseltops/stemming2017">code</a> door beiden.</p>

</div>

<div><img src="http://applejack.science.ru.nl/lamabadge.php/stemming2017" alt="badge" /></div>

</body>
</html>
